NODE_ENV=test
JWT_SECRET=replace-with-test-secret

MONGODB_URI_TEST=mongodb://ec_meals_root:replace-with-mongo-password@mongodb:27017/ec_meals_test?authSource=admin
POSTGRES_URL_TEST=postgres://ec_meals_test_user:replace-with-postgres-password@postgres:5432/ec_meals_test
